.card-item-img{
    width: 100%;
}

.card-item-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
    background-color: rgb(255, 245, 255);
    max-height: 50%;
    text-align: center;

    margin: 3% auto ;
}

.card-item-detail p{
    font-size: 23px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;

} 

.card-item-detail span{
    margin-bottom: 10px;
    font-size: 21px;
}